{{#> base}}
  {{#*inline "content"}}
    <h2>Reset Your Password</h2>
    <p>Hello {{firstName}},</p>
    <p>We received a request to reset your password. Click the button below to create a new password:</p>
    
    <div style="text-align: center;">
        <a href="{{resetUrl}}" class="button">Reset Password</a>
    </div>
    
    <p>Or copy and paste this link in your browser:</p>
    <p>{{resetUrl}}</p>
    
    <p>This link will expire in 1 hour. If you didn't request this, please ignore this email.</p>
  {{/inline}}
{{/base}} 