{{#> base}}
  {{#*inline "content"}}
    <h2>Account Update Notification</h2>
    <p>Hello {{firstName}},</p>
    <p>We detected the following changes to your account:</p>
    
    <ul>
    {{#each changes}}
        <li>{{this}}</li>
    {{/each}}
    </ul>
    
    <p>If you didn't make these changes, please contact support immediately.</p>
  {{/inline}}
{{/base}} 