{{#> base title="Verify Your Email"}}
  {{#*inline "content"}}
    <h2>Your Report is Ready</h2>
    <p>Hello {{firstName}},</p>
    <p>Thank you for completing your entrepreneur profile. Attached are your results. If you would like a more in-depth explanation of your results, please reach out to your local FranNet consultant.</p>
        
    <p>Sincerely,</p>
    <p>{{teamName}}</p>
  {{/inline}}
{{/base}} 